

#### Sets
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
## create a set
my_set={1,2,3,4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [2]:
my_empty_set=set()
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [3]:
my_set=set([1,2,4,5,5])
print(my_set)

{1, 2, 4, 5}

In [6]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7)
print(my_set)

{1, 2, 4, 5, 7}

In [8]:
my_set.remove(5)
print(my_set)

{1, 2, 4, 7}

In [9]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 7}

In [10]:
my_set.add(19)
my_set.add(77)
my_set.add(88)

In [12]:
print(my_set)

{1, 2, 4, 7, 77, 19, 88}

In [14]:
popped_ele=my_set.pop()
# it removes ele from the first

print(popped_ele)
print(my_set)

2
{4, 7, 77, 19, 88}

In [15]:
## clear all the element
my_set.clear()

In [16]:
print(my_set)

set()

In [19]:
## set membership test
my_set={1,2,3,4,5,6,7,8,9}
print(1 in my_set)
print(99 in my_set)

True
False

In [23]:
## mathematical operation
set1={1,2,3,4,5}
set2={99,1,3,4,10}
set_intersection=set1.intersection(set2)
print(set_intersection)
set_union=set1.union(set2)
print(set_union)

{1, 3, 4}
{1, 2, 3, 4, 5, 99, 10}

In [24]:
print(set1)

{1, 2, 3, 4, 5}

In [25]:
print(set2)

{1, 99, 3, 4, 10}

In [27]:
set2.intersection_update(set1)
print(set2)

{1, 3, 4}

In [29]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
## difference
print(set1.difference(set2))

{1, 2, 3}

In [30]:
set1

{1, 2, 3, 4, 5, 6}

In [31]:
set2.difference(set1)

{7, 8, 9}

In [32]:
## symmetric differnce 
## only the common element will get removed 
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [37]:
## sets method 
set1={1,2,3,4,5}
set2={3,4,5}
## is subset
print(set1.issubset(set2))
print(set2.issubset(set1))
print(set1.issuperset(set2))

False
True
True

In [40]:
lst=[1,2,334,2,2,2,4,5,6,4,7]
print(lst)
se_t=set(lst)
print(se_t)

[1, 2, 334, 2, 2, 2, 4, 5, 6, 4, 7]
{1, 2, 4, 5, 6, 7, 334}

In [44]:
## counting unique words in a text
text="my name name  is is ankit ankit kumar gupta"
words=text.split()
unique_words=set(words)
print(unique_words)
len(unique_words)

{'kumar', 'ankit', 'gupta', 'name', 'is', 'my'}

6

#### Conclusion
Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.