#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [2]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [1]:
tup=tuple()
lst=list()
print(type(lst))
print(type(tup))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,34,5,5]) ##tuple in the form of lists

print(numbers)

(1, 2, 34, 5, 5)

In [ ]:
numbers=list((1,2,3,4,5)) ##list in the form of tuple
print(numbers)

[1, 2, 3, 4, 5]

In [5]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [15]:
##accessing tuple elements
numbers=tuple([1,2,34,5,5])
numbers

(1, 2, 34, 5, 5)

In [7]:
numbers[2]

3

In [9]:
numbers[-1] ## accessing the last element

5

In [10]:
numbers[0:4]

[1, 2, 3, 4]

In [12]:
numbers[::-1] ## printing the number in reverse order

[5, 4, 3, 2, 1]

In [16]:
## tuple conacatetion
concatenation_tuple=numbers + mixed_tuple

In [17]:
print(concatenation_tuple)

(1, 2, 34, 5, 5, 1, 'hello world', 3.14, True)

In [18]:
mixed_tuple*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [20]:
print(numbers)

numbers*3

(1, 2, 34, 5, 5)

(1, 2, 34, 5, 5, 1, 2, 34, 5, 5, 1, 2, 34, 5, 5)

In [21]:
##immutable nature of tuples
##tuples are immutable in nature means that its elements cant be changed 
lst=[1,2,3,4]
print(lst)
lst[1]="krish"
print(lst)

[1, 2, 3, 4]
[1, 'krish', 3, 4]

In [23]:
tup=tuple([1,2,3,4])
tup[0]=100
print(tup)

TypeError: 'tuple' object does not support item assignment

In [24]:
numbers

(1, 2, 34, 5, 5)

In [26]:
##tuples method
print(numbers.count(1))
print(numbers.index(34))

1
2

In [27]:
## packing and unpacking of tuple
##packing
packed_tuple=1,"hello world ",3.14
print(packed_tuple)

(1, 'hello world ', 3.14)

In [28]:
##unpacking of tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello world
3.14

In [29]:
## unpacking with the *
numbers=tuple([1,2,3,4,5])
first,*middle,last=numbers
print(first)
print(*middle)
print(last)

1
2 3 4
5

In [30]:
## nested list
lst=[[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
print(lst[0][0:4])

[1, 2, 3, 4]

In [32]:
print(lst[2][0:4])

[1, 'hello', 3.14, 'c']

In [ ]:
## nested tuple
nested_tuple=((1,2,3),(4,5,6),("hell0",3.10,88,"a"))
## accessing the element inside a tuple
print(nested_tuple[0])

(1, 2, 3)

In [34]:
print(nested_tuple[2][0:5])

('hell0', 3.1, 88, 'a')

In [39]:
## iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")

    print()

1 2 3
4 5 6
hell0 3.1 88 a

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.