#### Functions in Python
Video Outline:
1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [1]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [ ]:



def even_or_odd(num):
    "function to find if the given number is ven or odd"
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [4]:
## calling the function
even_or_odd(6)

the number is even

In [5]:
## function with multiple parameters
def add(a,b):
    return a+b
result=add(2,4)
print(result)

6

In [6]:
## Default Parameters\
def greet(name):
    print(f"hello my name is {name}")
greet("ankit")

hello my name is ankit

In [17]:
def greet(name="Guest"):
    print(f"hello {name} how are you")
greet("ajay")

hello ajay how are you

In [18]:
### Variable Length Arguments
## Positional And Keywords arguments
## positional argument

def print_number(*args):
    for number in args:
        print(number)

In [20]:
print_number(1,2,3,445,5,5,"hello")

1
2
3
445
5
5
hello

In [25]:
## keyword arguments
def print_key(**kwargs):
    for key,value in kwargs.items():


        print(f"{key} : {value}")

In [27]:
print_key(name="ankit",age="22",country="India")

name : ankit
age : 22
country : India

In [30]:
##  mixture of positional and keyword arguments
def print_anything(*args,**kwargs):
    for num in args:
        print(f"positional argument {num}")
    for key,val in kwargs.items():
        print(f"{key}: {val}")

In [31]:
print_anything(1,2,3,445,5,5,"hello",name="ankit",age="22",country="India")

positional argument 1
positional argument 2
positional argument 3
positional argument 445
positional argument 5
positional argument 5
positional argument hello
name: ankit
age: 22
country: India

In [32]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [33]:
## return multiple parameters
def multiply(a,b):
    return a*b,b

In [34]:
multiply(2,4)

(8, 4)